body {
    font-family: "Segoe UI",Arial,sans-serif;
    overflow: hidden;
    background-color: #310045;
    color: white;
}
H1 {
    font-size: 28px;
    color: cornsilk;
}
a {
    color: floralwhite;
}

#map {
     width: 500px;
     height: 400px;
}