body {
    font-family: "Segoe UI",Arial,sans-serif;
    background-color: #531e46;
    color: white;
}
H1 {
    font-size: 28px;
}
a {
    color: floralwhite;
}

#map {
     width: 100%;
     height: 450px;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}